@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f29d58;
   font-family: 'Montserrat Alternates', sans-serif;
}

.canvas {
        transform: translateX(-50%);
    left: 50%;
}